name: Build game

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main", "client-dev"]
    tags:
    - 'v*'
  pull_request:
    branches: ["main", "client-dev"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip" # caching pip dependencies

      - name: Install dependencies
        run: pip install -r requirements.txt
        working-directory: ./client

      - name: Build client
        run: pyinstaller KidangTikus.spec --noconfirm
        working-directory: ./client

      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: client/dist/
  create-release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Pack files
        run: |
          zip -r windows.zip artifacts/build-windows-latest
          tar -cvf ubuntu.tar artifacts/build-ubuntu-latest

      - name: Release with Notes
        uses: softprops/action-gh-release@v1
        with:
          files: |
            windows.zip
            ubuntu.tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
